<html>
	<head>
		<title><%= title %></title>
		</head>
		<body>
			<h1><a href="/surface/<%= synset.term %>.html"><%= synset.term %></a></h1>
			<p><a href="<%= synset.synset_ref %>.html"><%= synset.synset_id %></a> <%= synset.fos %><ul>
<% for (var i=0; i<synset.glosses.length; i++) { %>
				<li><%= synset.glosses[i] %></li>
<% } %>
			</ul></p>
<% if (synset.uses) { %>
			<p>uses<ul>
  <% for (var i=0; i<synset.uses.length; i++) { %>
				<li><%= synset.uses[i] %></li>
  <% } %>
			</ul><p>
<% } %>
<% if (synset.sent_frames) { %>
			<p>sent_frames<ul>
  <% for (var i=0; i<synset.sent_frames.length; i++) { %>
				<li>&quot;<%= synset.sent_frames[i][0] + 'doe' + synset.sent_frames[i][1] %>&quot (<%= synset.term %>)</li>
  <% } %>
			</ul><p>
<% } %>
			<p>words<ol>
<% for (var i=0; i<synset.words.length; i++) { %>
				<li><a href="<%= synset.words[i].word_ref %>.html"><%= synset.words[i].surface %></a></li>
<% } %>
			</ol></p>
<!--
, 'attribute_of' - removed because it is always populated in both directions.
-->
<% var attribs = [ 'hypernyms', 'hyponyms', 'attributes', 'causes', 'caused_by', 'entails', 'entailed_by', 'instance_of', 'has_instances', 'member_of', 'has_members', 'part_of', 'has_parts', 'substance_of', 'has_substances', 'has_satellites', 'satellite_of', 'grouped_on', 'topics', 'topic_of', 'regions', 'region_of', 'uses', 'usage_of', 'used_by', 'agent', 'agent_of', 'body_part', 'body_part_of', 'by_means_of', 'mechanism_for', 'destination', 'destination_of', 'event', 'event_of', 'instrument', 'instrument_of', 'location', 'location_of', 'material', 'material_of', 'property', 'property_of', 'result', 'result_of', 'state', 'state_of', 'undergoer', 'undergoes', 'vehicle', 'vehicle_of' ] %>
<% for (var i=0; i<attribs.length; i++) { %>
  <% if (synset[attribs[i]] !== undefined) { %>			<p><%= attribs[i] %><ul>
    <% for (var j=0; j<synset[attribs[i]].length; j++) { %>
      <% if (synset[attribs[i]][j].type === 'word') { %>
				<li><a href="<%= synset[attribs[i]][j].word_ref %>.html"><%= synset[attribs[i]][j].surface %></a> - <%= synset[attribs[i]][j].fos %>, <%= synset[attribs[i]][j].gloss %></li>
      <% } else { %>
				<li><a href="<%= synset[attribs[i]][j].synset_ref %>.html"><%= synset[attribs[i]][j].term %></a> - <%= synset[attribs[i]][j].fos %>, <%= synset[attribs[i]][j].gloss %></li>
      <% } %>
    <% } %>
			</ul></p>
  <% } %>
<% } %>
	</body>
</html>
