<html>
	<head>
		<title><%= title %></title>
	</head>
	<body>
		<h1><a href="/surface/<%= word.surface %>.html"><%= word.surface %></a></h1>
		<p>gloss: <%= word.fos %>(<%= word.w_num %>) <%= word.gloss %></p>
		<p>synset: <a href="<%= word.synset_ref %>.html"><%= word.synset_id %></a></p>
<% if (word.usage && word.usage.length) { %>
		<p>usage<ul>
  <% for (var i=0; i<word.usage.length; i++) { %>
			<li><%= word.usage[i] %></li>
  <% } %>
		</ul><p>
<% } %>
<% if (word.sent_frames) { %>
  		<p>sent_frames<ul>
  <% for (var i=0; i<word.sent_frames.length; i++) { %>
			<li>&quot;<%= word.sent_frames[i][0] + 'doe' + word.sent_frames[i][1] %>&quot; (<%= word.surface %>)</li>
  <% } %>
		</ul></p>
<% } %>
<% if (word.synonyms && word.synonyms.length) { %>
		<p>synonyms<% for (var j=0; j<word.synonyms.length; j++) { %>, <a href="<%= word.synonyms[j].word_ref %>.html"><%= word.synonyms[j].surface %></a><% } %>
		</ul></p>
<% } %>
<!--
glosses
uses became usage, above, and made way of uses, usage_of and used_by
, 'grouped_on' - removed since they are always populated in both directions.
, 'attribute_of' - removed in since they are always populated in both directions.
-->
<% var attribs = [ 'antonyms', 'der', 'pertains_to', 'pertained_from', 'participle_of', 'has_participles', 'see_also', 'referenced_by', 'group_with', 'hypernyms', 'hyponyms', 'attributes', 'causes', 'caused_by', 'entails', 'entailed_by', 'instance_of', 'has_instances', 'member_of', 'has_members', 'part_of', 'has_parts', 'substance_of', 'has_substances', 'has_satellites', 'satellite_of', 'topics', 'topic_of', 'regions', 'region_of', 'uses', 'usage_of', 'used_by', 'agent', 'agent_of', 'body_part', 'body_part_of', 'by_means_of', 'mechanism_for', 'destination', 'destination_of', 'event', 'event_of', 'instrument', 'instrument_of', 'location', 'location_of', 'material', 'material_of', 'property', 'property_of', 'result', 'result_of', 'state', 'state_of', 'undergoer', 'undergoes', 'vehicle', 'vehicle_of' ] %>
<% for (var i=0; i<attribs.length; i++) { %>
  <% if (word[attribs[i]] !== undefined) { %>
<p><%= attribs[i] %><ul>
    <% for (var j=0; j<word[attribs[i]].length; j++) { %>
      <% if (word[attribs[i]][j].type === 'word') { %>
				<li><a href="<%= word[attribs[i]][j].word_ref %>.html"><%= word[attribs[i]][j].surface %></a> - <%= word[attribs[i]][j].fos %>, <%= word[attribs[i]][j].gloss %></li>
      <% } else { %>
				<li><a href="<%= word[attribs[i]][j].synset_ref %>.html"><%= word[attribs[i]][j].term %></a> - <%= word[attribs[i]][j].fos %>, <%= word[attribs[i]][j].gloss %></li>
      <% } %>
    <% } %>
			</ul>
		</p>
  <% } %>
<% } %>
<!-- 	<pre>
    		<%= lexicon.stringify(word) %>
		</pre> -->
	</body>
</html>
