<html>
	<head>
		<title><%= title %></title>
	</head>
	<body>
		<h1><a href="/surface/<%= word.surface %>.html"><%= word.surface %></a></h1>
		<p>gloss: <%= word.fos %>(<%= word.w_num %>) <%= word.gloss %></p>
		<p>synset: <a href="<%= word.synset_ref %>.html"><%= word.synset_id %></a></p>
<% if (word.usage && word.usage.length) { %>
		<p>usage<ul>
  <% for (var i=0; i<word.usage.length; i++) { %>
			<li><%= word.usage[i] %></li>
  <% } %>
		</ul><p>
<% } %>
<% if (word.sent_frames) { %>
  		<p>sent_frames<ul>
  <% for (var i=0; i<word.sent_frames.length; i++) { %>
			<li>&quot;<%= word.sent_frames[i][0] + 'doe' + word.sent_frames[i][1] %>&quot; (<%= word.surface %>)</li>
  <% } %>
		</ul></p>
<% } %>
<% if (word.synonyms && word.synonyms.length) { %>
		<p>synonyms<% for (var j=0; j<word.synonyms.length; j++) { %>, <a href="<%= word.synonyms[j].word_ref %>.html"><%= word.synonyms[j].surface %></a><% } %>
		</ul></p>
<% } %>
<!--
glosses
uses
, 'grouped_on'
, 'attribute_of'
-->
<% var attribs = [ 'antonyms', 'der', 'pertains_to', 'pertained_from', 'participle_of', 'has_participles', 'see_also', 'referenced_by', 'grouped_on', 'group_with', 'hypernyms', 'hyponyms', 'attributes', 'attribute-of', 'causes', 'caused-by', 'entails', 'entailed-by', 'instance-of', 'has-instances', 'member-of', 'has-members', 'part-of', 'has-parts', 'substance-of', 'has-substances', 'has-satellites', 'satellite-of', 'topics', 'topic-of', 'regions', 'region-of', 'uses', 'usage-of', 'used-by', 'agent', 'agent-of', 'body-part', 'body-part-of', 'by-means-of', 'mechanism-for', 'destination', 'destination-of', 'event', 'event-of', 'instrument', 'instrument-of', 'location', 'location-of', 'material', 'material-of', 'property', 'property-of', 'result', 'result-of', 'state', 'state-of', 'undergoer', 'undergoes', 'vehicle', 'vehicle-of' ] %>
<% for (var i=0; i<attribs.length; i++) { %>
  <% if (word[attribs[i]] !== undefined) { %>
<p><%= attribs[i] %><ul>
    <% for (var j=0; j<word[attribs[i]].length; j++) { %>
      <% if (word[attribs[i]][j].type === 'word') { %>
				<li><a href="<%= word[attribs[i]][j].word_ref %>.html"><%= word[attribs[i]][j].surface %></a> - <%= word[attribs[i]][j].fos %>, <%= word[attribs[i]][j].gloss %></li>
      <% } else { %>
				<li><a href="<%= word[attribs[i]][j].synset_ref %>.html"><%= word[attribs[i]][j].term %></a> - <%= word[attribs[i]][j].fos %>, <%= word[attribs[i]][j].gloss %></li>
      <% } %>
    <% } %>
			</ul>
		</p>
  <% } %>
<% } %>
<!-- 	<pre>
    		<%= lexicon.stringify(word) %>
		</pre> -->
	</body>
</html>
